<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
      <h1>Home page</h1>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia commodi soluta minus odio numquam velit doloremque fugit facere. Incidunt architecto minus eveniet ipsum non qui alias quod dolorum dolor perspiciatis?</p>
      <div class="text-center">
        <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Register</button>
        <button class="btn btn-info btn-lg">Learn more</button>
      </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>