<div class="card mb-4">
  <div class="card-img-wrapper">
    <img src="{{product.photoURL}}" alt="{{product.name}}" class="card-img-top">
    <ul class="list-inline product-icons animate text-center">
      <li class="list-inline-item">
        <button class="btn btn-primary" [routerLink]="['/products/', product.id]"><i class="fa fa-info-circle"></i></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary"><i class="fa fa-cart-plus"></i></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary"><i class="fa fa-heart"></i></button>
      </li>
    </ul>
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1"> <strong> {{product.name}} </strong> - <i>{{product.price}} PLN</i></h6>
  </div>
</div>