<div class="container mt-4">
  <div *ngIf="cartElements?.length; else emptyCart" class="row">
    <h3>Your cart:</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product name</th>
          <th scope="col">Prize</th>
          <th scope="col">Count</th>
          <th scope="col">Total</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of cartElements">
          <th scope="row">{{element.id}}</th>
          <td>{{element.product.name}}</td>
          <td>{{element.product.price}}PLN</td>
          <td><button class="btn btn-danger"><i class="fa fa-minus"></i></button> <span
              class="mr-2 ml-2">{{element.count}}</span> <button class="btn btn-success"><i
                class="fa fa-plus"></i></button></td>
          <td>{{element.product.price * element.count}}PLN</td>
          <td><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
        </tr>
    </table>
    <div class="row">
      <button class="btn btn-danger mr-2"><i class="fa fa-trash"></i> Remove All</button>
      <button class="btn btn-success mr-2"><i class="fa fa-arrow-right"></i> Proceed</button>
    </div>
  </div>
</div>

<ng-template #emptyCart>
  <div>
    Your cart is empty.
  </div>
</ng-template>