<div class="container mt-4">
  <div class="row">
    <div class="col-sm-12">
        <a [routerLink]="['/profile/edit']">
          <button class="btn btn-success"> 
          <i class="fa fa-edit"></i> Edit
      </button>
    </a>

      <div class="card-header">
        <h5>Personal data:</h5>
      </div>
      <div class="card-body">
        <div class="section-user-data">
          <p><strong>Name:</strong> {{userProfile.name}}</p>
          <p><strong>Surname:</strong> {{userProfile.surname}}</p>
        </div>
      </div>
      <div class="card-header">
        <h5>Addresses:</h5>
      </div>
      <div class="card-body">
        <div class="section-addresses">
          <button class="btn btn-success"><i class="fa fa-plus"></i> Add new</button>
          <div class="tab-panel mt-2">
            <tabset class="member-tabset">
              <tab *ngFor="let address of userProfile.addresses" heading="{{address.name}}">
                <app-address-details [address]="address"></app-address-details>
              </tab>
            </tabset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>